[submodule "dependencies/BeatTogether.MasterServer"]
	path = dependencies/BeatTogether.MasterServer
	url = https://github.com/BeatTogether/BeatTogether.MasterServer
[submodule "dependencies/BeatTogether.DedicatedServer"]
	path = dependencies/BeatTogether.DedicatedServer
	url = https://github.com/BeatTogether/BeatTogether.DedicatedServer
