[submodule "dependencies/BeatTogether.MasterServer"]
	path = dependencies/BeatTogether.MasterServer
	url = https://github.com/BeatTogether/BeatTogether.MasterServer
[submodule "dependencies/BeatTogether.DedicatedServer"]
	path = dependencies/BeatTogether.DedicatedServer
	url = https://github.com/BeatTogether/BeatTogether.DedicatedServer
[submodule "dependencies/BeatTogether.Status.Api"]
	path = dependencies/BeatTogether.Status.Api
	url = https://github.com/BeatTogether/BeatTogether.Status.Api
